   .container {
       position: relative;
       width: fit-content;

       .content {
           width: 250px;
           height: 250px;
           border: solid 3px #316b83;
           position: relative;
           overflow: hidden;
       }
   }

   .hidden {
       width: 0px;
       height: 0px;
       position: relative;
       overflow: hidden;

       .canvas {
           margin: 0 auto;
           background-color: #ffffff;
           position: relative;
       }
   }