<div class="textContainer" [style.width.px]="block.size.width" [style.height.px]="block.size.height"
    [style.border-radius]="block.borderRadius + 'px'">
    <div class="textDiv" contenteditable="true" ngDefaultControl [(ngModel)]="block.content"
        [style.font-style]="block.fontStyle" [style.font-weight]="block.fontWeight"
        [style.text-decoration]="block.textDecoration" [style.color]="block.fontColor"
        [style.font-size]="block.fontSize + 'px'" [style.text-align]="block.textAlign" [textContent]="block.content"
        [style.border-radius]="block.borderRadius + 'px'" (input)="block.content = $event.target.textContent">
        {{block.content}}
    </div>
</div>