html,
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    button {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: rgba(#272736, 0.8);
        color: #f0f8ff;
        border: solid white 2px;
        padding: 1vh;
    }

    
    button:hover {
        transform: scale(1.05);
        animation-name: fill;
        animation-duration: 300ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f0f8ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1b1b20;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6a6aa3;
}
// End Scrollbar