<div class="layoutDefaultStyle">
    <div [ngClass]="titleClass">
        <h1 mat-dialog-title *ngIf="!titulo">Confirmar</h1>
        <h1 mat-dialog-title *ngIf="titulo">{{titulo}}</h1>
    </div>
    
    <div mat-dialog-content *ngIf="!texto">
        Deseja confirmar a ação?
    </div>
    <div mat-dialog-content *ngIf="texto">
        {{texto}}
    </div>

    <mat-dialog-actions align="center">
        <button class="btn-light" cdkFocusInitial (click)="dialogRef.close()">Cancelar</button>
        <button [ngClass]="btnClass" (click)="dialogRef.close(true)">Sim</button>
    </mat-dialog-actions>
</div>