.main {
    min-width: 100%;
    height: 82vh;
    background-image: linear-gradient(rgba(#272736, 0.3), rgba(#272736, 0.3)), url("/assets/img/search_component_bkg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.searchContainer {
    background-color: #ffffffe6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    width: stretch;
    height: stretch;
    margin: 1em;
    padding: 2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .titleBar {
        padding: 0 0 30px 0;
    }


    .headerDiv {
        vertical-align: middle;
        padding: 0 0 7px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .searchBar {
            width: 50%;

            input {
                border: solid 3px #fff;
                box-sizing: border-box;
                font-size: 1.5em;
                height: 6vh;
                outline: solid #77aada 0;
                padding: .5em;
                width: 100%;
                padding-right: 40px;
            }

            .searchIcon {
                position: absolute;
                transform: translate(-100%, 20%);
                vertical-align: middle;
                color: #272736;
            }
        }

        .resultCount {
            color: #77aada;
            padding: 4px;
            font-weight: 500;
            position: relative;
            margin: 0 15px;
            min-width: fit-content;

            display: flex;
            justify-content: center;
            align-items: center;

            a {
                position: relative;
                white-space: nowrap
            }
        }

        .loadMore {
            color: #316b83;
            padding: 4px;
            font-weight: 500;
            position: relative;
            margin-left: auto;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loadMore:hover {
            color: #234f63;
        }
    }

    .noResults {
        h1 {
            color: #77aada;
            padding: 40px;
            font-weight: 500;

            a {
                color: #316b83;
                text-decoration: none;
            }

            a :hover {
                color: #234f63;
            }
        }
    }

    .resultMaps {
        position: relative;
        height: 100%;
        overflow: auto;

        .resultContainer {
            width: 100%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }

        .public {
            display: flex;
            flex-direction: row;
        }
    }
}