<loading *ngIf="loading"></loading>
<div class="main">
    <div class="searchContainer ">
        <div class="titleBar layoutDefaultStyle">
            <a class="title-deco">Buscar Mapas Mentais</a>
        </div>

        <div class="headerDiv">
            <div class="searchBar">
                <form (ngSubmit)="submit()">
                    <input class="input" placeholder="Pesquisar mapas..." [formControl]="form.controls['search']">
                    <button class="searchIcon" type="submit" [disabled]="!form.valid" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </form>
            </div>
            <div class="resultCount layoutDefaultStyle">
                <a *ngIf="results">
                    <a *ngIf="postsResult?.length == 0"> NENHUM RESULTADO</a>
                    <a *ngIf="postsResult?.length == 1">{{postsResult?.length}} RESULTADO</a>
                    <a *ngIf="postsResult?.length > 1"> Mostrando {{postsResult?.length}} / {{resultIndexes?.length}}
                        RESULTADOS</a>
                </a>
            </div>
            <div *ngIf="(resultIndexes?.length > 10) && (postsResult?.length < resultIndexes?.length)"
                class="loadMore layoutDefaultStyle">
                <a (click)="loadMore()">CARREGAR MAIS MAPAS</a>
            </div>
        </div>

        <div class="noResults" *ngIf="results && otherResults?.length > 0">
            <h1>NENHUM MAPA ENCONTRADO! VOCÊ PODE <a href="/creator">CRIAR SEU PRÓPRIO MAPA</a>, OU TALVEZ TENHA
                INTERESSE EM OUTROS MAPAS:</h1>
        </div>

        <div class="resultMaps layoutDefaultStyle">
            <div class="resultContainer" *ngIf="results">
                <display-canvas [style.min-width]="300" *ngFor="let post of postsResult" [size]="300" [post]="post">
                </display-canvas>
            </div>
            <div class="resultContainer public" *ngIf="results && otherResults?.length > 0">
                <display-canvas [style.min-width]="300" *ngFor="let post of otherResults" [size]="200" [post]="post">
                </display-canvas>
            </div>
        </div>
    </div>
</div>