.create {
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    z-index: 1;
    flex-grow: 1;

    .leftSide {
        background-image: linear-gradient(rgba(#272736, 0.3), rgba(#272736, 0.3)), url("/assets/img/search_bkg.jpg");
        background-size: cover;
        text-align: center;
        font-size: xx-large;
        min-width: 30vw;
        height: 60vh;
        flex-grow: 1;

        text-align: center;
        position: relative;

        .inner_block {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;

            .deco {
                display: inline-flex;
                position: relative;
                background-color: #272736;
                padding: 20px 20px 20px 20px;
                margin: 0 10px 10px 0;
                text-align: left;
                width: fit-content;
                float: left;
                line-height: 1em;

                .dc1 {
                    position: absolute;
                    right: 0;
                    top: 0;
                    min-height: 100%;
                    min-width: 5px;
                    background-color: #316B83;
                }
            }

            .btn {
                padding: 30px;
                font-size: xx-large;
                width: fit-content;
                margin: 20px;
            }
        }
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        
        .innerFlex {
            display: flex;
            flex-direction: row;
            min-height: 50%;
            height: fit-content;

            .block1 {
                background-color: #316b83;
            }

            .block2 {
                background-color: #6D8299;
            }

            .block3 {
                background-color: #8CA1A5;
            }

            .block4 {
                background-color: #D5BFBF;
            }

            .block1,
            .block2,
            .block3,
            .block4 {
                min-width: 15vw;
                text-align: center;
                position: relative;
                font-size: x-large;
                overflow: hidden;
                width: 50%;
                height: 100%;
            }

            .inner_block {
                position: absolute;
                width: 100%;
                height: 100%;
                display: table;
                top: 0;
                left: 0;

                .square {
                    vertical-align: middle;
                    display: table-cell;
                }
            }
        }
    }
}

.search {
    background-color: #ffffff;
    color: #272736;
    max-height: 80vh;
    height: fit-content;
    position: relative;
    text-align: center;
    overflow: hidden;

    .searchBlock {
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;
        top: 0;
        left: 0;

        .sbTop {
            transition-timing-function: ease-in-out;
            transition-duration: 1s;
            transition-property: transform;
            transform: translateY(-40%);
        }

        .searchBar {
            display: table-cell;
            transition-timing-function: ease-in-out;
            transition-duration: 1s;
            transition-property: transform;
            vertical-align: middle;

            form {
                width: 100%;
                margin: 0 auto;

                input {
                    border: solid 3px #fff;
                    box-sizing: border-box;
                    font-size: 2em;
                    height: 6vh;
                    outline: solid #77aada 0;
                    padding: .5em;
                    transition: all 1s ease-in;
                    z-index: 1;

                    &:focus {
                        outline: solid #77aada 2000px;
                    }
                }

                .searchIcon {
                    transform: translate(-100%, -15%);
                    vertical-align: middle;
                    color: #272736;
                }
            }

            .results {
                display: grid;
                grid-template-columns: 50% 50%;
                width: 50%;
                align-content: center;
                margin: 0 auto;

                .resultCount {
                    color: #236099;
                    padding: 4px;
                    font-weight: 500;
                    text-align: left;
                }

                .moreMaps {
                    text-align: right;
                    padding: 4px;

                    .link {
                        color: inherit;
                        color: #236099;
                        font-weight: 500;
                        text-decoration: none;
                    }

                    .link:hover {
                        color: #7e96a1;
                        cursor: pointer;
                    }
                }
            }
        }



    }

    .resultBlock {
        background-color: #6D8299;

        .rdTop {
            transition-timing-function: ease-in-out;
            transition-duration: 1s;
            transition-property: transform;
            transform: translateY(-105%);
        }

        .resultDiv {
            position: absolute;
            width: 98%;
            min-height: fit-content;
            margin: 1%;
            transition-timing-function: ease-in-out;
            transition-duration: 1s;
            transition-property: transform;
            top: 100%;
            overflow-y: hidden;
            overflow-x: scroll;
            background-color: #6D8299;

            .resultContainer {
                min-width: 100%;
                min-height: fit-content;
                background-color: #6D8299;
                display: inline-flex;
            }
        }

        .spinnerContainer {
            width: 100%;

            mat-spinner {
                margin: auto;
                top: 50%;
                transform: translateY(-50%);
                height: 90%;
            }
        }
    }
}

::-webkit-scrollbar-track {
    background: #6D8299;
}

::-webkit-scrollbar-thumb {
    background: #3b5069;
}

::-webkit-scrollbar-thumb:hover {
    background: #263446;
}