<loading *ngIf="loading"></loading>
<div class="create layoutDefaultStyle">
    <div class="leftSide">
        <div class="inner_block">

            <div class="square">
                <div class="deco">
                    SEJA BEM VINDO(A) AO HUBMAP!
                    <div class="dc1"></div>
                </div>
                <button class="btn" routerLink="/creator">CRIE UM MAPA MENTAL</button>
            </div>
        </div>
    </div>
    <div class="block1">
        <div class="inner_block">
            <div class="square">
                Crie e compartilhe mapas mentais.
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="inner_block">
            <div class="square">
                Contamos com mais de 5000 diagramas.

            </div>
        </div>
    </div>
    <div class="block3">
        <div class="inner_block">
            <div class="square">
                Dê um visual a suas ideias.
            </div>
        </div>
    </div>
    <div class="block4">
        <div class="inner_block">
            <div class="square">
                Fácil e prático.
            </div>
        </div>
    </div>
</div>
<div class="search" [style.min-height]="(blocksSize + 200) + 'px'">
    <div class="searchBlock">
        <div [ngClass]="searchBarClass">
            <form (ngSubmit)="searchMaps()">
                <input placeholder="Pesquisar mapas...">
                <button class="searchIcon" type="submit" mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </div>
    </div>

    <div class="resultBlock layoutDefaultStyle">
        <div [ngClass]="resultDivClass">
             <mat-spinner *ngIf="!results"></mat-spinner>
            <div *ngIf="results" class="resultContainer">
                <display-canvas [size]="blocksSize" [post]="post" *ngFor="let post of postsResult"></display-canvas>
            </div>
        </div>
    </div>
</div>