.create {
    display: grid;
    grid-template-areas:
        'grid1 grid1 grid2 grid3'
        'grid1 grid1 grid4 grid5';
    grid-template-columns: 25% 25% 25% 25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    z-index: 1;

    .leftSide {
        grid-area: grid1;
        background-image: linear-gradient(rgba(#272736, 0.3), rgba(#272736, 0.3)), url("/assets/img/search_bkg.jpg");
        background-size: cover;
        text-align: center;
        font-size: xx-large;
        max-width: 100%;

        height: 60vh;
        text-align: center;
        position: relative;

        .deco {
            display: inline-flex;
            position: relative;
            background-color: #272736;
            padding: 20px 20px 20px 20px;
            margin-bottom: 10px;
            text-align: left;
            width: fit-content;
            float: left;
            line-height: 1em;

            .dc1 {
                position: absolute;
                right: 0;
                top: 0;
                min-height: 100%;
                min-width: 5px;
                background-color: #316B83;
            }
        }

        .btn {
            padding: 30px;
            font-size: xx-large;
        }
    }

    .block1 {
        grid-area: grid2;
        background-color: #316b83;
    }

    .block2 {
        grid-area: grid3;
        background-color: #6D8299;
    }

    .block3 {
        grid-area: grid4;
        background-color: #8CA1A5;
    }

    .block4 {
        grid-area: grid5;
        background-color: #D5BFBF;
    }

    .block1,
    .block2,
    .block3,
    .block4 {
        height: 30vh;
        text-align: center;
        position: relative;
        font-size: x-large;
        overflow: hidden;

    }

    .inner_block {
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;
        top: 0;
        left: 0;

        .square {
            vertical-align: middle;
            display: table-cell;
        }
    }
}

.search {
    background-color: #ffffff;
    color: #272736;
    max-height: 80vh;
    height: fit-content;
    position: relative;
    text-align: center;
    overflow: hidden;

    .searchBlock {
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;
        top: 0;
        left: 0;

        .sbTop {
            transition-timing-function: ease-in-out;
            transition-duration: 1s;
            transition-property: transform;
            transform: translateY(-40%);
        }

        .searchBar {
            display: table-cell;
            transition-timing-function: ease-in-out;
            transition-duration: 1s;
            transition-property: transform;
            vertical-align: middle;

            input {
                border: solid 3px #fff;
                box-sizing: border-box;
                font-size: 2em;
                height: 6vh;
                outline: solid #77aada 0;
                padding: .5em;
                transition: all 1s ease-in;
                min-width: 30vw;
                z-index: 1;

                &:focus {
                    outline: solid #77aada 2000px;
                }
            }

            .searchIcon {
                transform: translate(-100%, -15%);
                vertical-align: middle;
                color: #272736;
            }
        }
    }

    .resultBlock {
        background-color: #6D8299;

        .rdTop {
            transition-timing-function: ease-in-out;
            transition-duration: 1s;
            transition-property: transform;
            transform: translateY(-105%);
        }

        .resultDiv {
            position: absolute;
            width: 98%;
            min-height: fit-content;
            margin: 1%;
            transition-timing-function: ease-in-out;
            transition-duration: 1s;
            transition-property: transform;
            top: 100%;
            overflow-y: hidden;
            overflow-x: scroll;
            background-color: #6D8299;

            .resultContainer {
                min-width: 100%;
                min-height: fit-content;
                background-color: #6D8299;
                display: inline-flex;
            }
        }

        .spinnerContainer{
            width: 100%;
            mat-spinner{
                margin: auto;
                top: 50%;
                transform: translateY(-50%);
                height: 90%;
            }
        }
    }
}

::-webkit-scrollbar-track {
    background: #6D8299;
}

::-webkit-scrollbar-thumb {
    background: #3b5069;
}

::-webkit-scrollbar-thumb:hover {
    background: #263446;
}