<loading *ngIf="loading"></loading>
<div class="create layoutDefaultStyle">
    <div class="leftSide">
        <div class="inner_block">
            <div class="deco">
                SEJA BEM VINDO(A) AO HUBMAP!
                <div class="dc1"></div>
            </div>
            <div style="margin: 0 auto,">
                <button class="btn" routerLink="/creator">CRIE UM MAPA MENTAL</button>
            </div>
        </div>
    </div>
    <div class="rightSide">
        <div class="innerFlex">
            <div class="block1">
                <div class="inner_block">
                    <div class="square">
                        Crie e compartilhe mapas mentais.
                    </div>
                </div>
            </div>
            <div class="block2">
                <div class="inner_block">
                    <div class="square">
                        Descubra mapas mentais de outros usuários.
                    </div>
                </div>
            </div>
        </div>
        <div class="innerFlex">
            <div class="block3">
                <div class="inner_block">
                    <div class="square">
                        Dê um visual a suas ideias.
                    </div>
                </div>
            </div>
            <div class="block4">
                <div class="inner_block">
                    <div class="square">
                        Fácil e prático.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search" >
    <div class="searchBlock">
        <div class="searchBar">
            <form (ngSubmit)="search()">
                <input placeholder="Pesquisar mapas..." [formControl]="form.controls['search']">
                <button class="searchIcon" type="submit" [disabled]="!form.valid" mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>