<div class="main">
    <loading *ngIf="loading"></loading>
    <div class="sideBar">
        <div class="containerSideBar">

            <a href=""> <img class="title" src="assets/img/hubmap_logo.png">
            </a>

            <button class="sidebarGrid option" matTooltipClass="tooltip" matTooltip="Adicionar Bloco"
                (click)="addNewBlock()" mat-mini-fab [ngClass]="{'disabled' : this.post.map.length > 0}"
                [disabled]="this.post.map.length > 0">
                <mat-icon>add_circle</mat-icon>
            </button>

            <button class="sidebarGrid option" matTooltipClass="tooltip" matTooltip="Deletar Bloco"
                (mousedown)="onDeleteBlock(this.post.map)" mat-mini-fab [ngClass]="{'disabled' : !blockSelected}"
                [disabled]="!blockSelected">
                <mat-icon>delete</mat-icon>
            </button>

            <button class="sidebarGrid option" matTooltipClass="tooltip" matTooltip="Desfazer" (click)="undo()"
                mat-mini-fab [ngClass]="{'disabled': savedProgress.length < 2}" [disabled]="savedProgress.length < 2">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>

            <div class="sidebarGrid">
                <div class="bottom">

                    <button *ngIf="!this.editorMode" class="sidebarEndOption" matTooltipClass="tooltip"
                        matTooltip="Salvar Mapa" (click)="createPost()" mat-mini-fab
                        [ngClass]="{'disabled': post.map[0] == null}" [disabled]="post.map[0] == null">
                        <mat-icon>save</mat-icon>
                    </button>

                    <button *ngIf="this.editorMode" class="sidebarEndOption" matTooltipClass="tooltip"
                        matTooltip="Atualizar Mapa" (click)="createPost()" mat-mini-fab
                        [ngClass]="{'disabled': post.map[0] == null}" [disabled]="post.map[0] == null">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button class="sidebarEndOption" matTooltipClass="tooltip" matTooltip="Exportar Para Imagem"
                        (click)="downloadImage()" mat-mini-fab [ngClass]="{'disabled': post.map[0] == null}"
                        [disabled]="post.map[0] == null">
                        <mat-icon>image</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <drag-scroll [drag-scroll-disabled]="this.blockSelected" scrollbar-hidden="true" class="containerCanvas">
        <div class="canvas" [style.width.px]="canvasSize.width" [style.height.px]="canvasSize.height">
            <block (selectBlockEvent)="selectBlock($event)" (unselectBlockEvent)="unselectBlock()"
                (finishedLoadingEvent)="finishedLoading()" (saveProgressEvent)="saveProgress()"
                *ngFor="let block of post.map" [block]="block">
            </block>
            <p style="position: absolute;" #scrollLink cdkDrag cdkDragBoundary=".canvas"
                [cdkDragFreeDragPosition]="{x: post.map[0]?.position.x + post.map[0]?.size.width / 2 , y:post.map[0]?.position.y + post.map[0]?.size.height/ 2}">
            </p>
            <button class="goToRootIcon" matTooltipClass="tooltip" matTooltip="IR PARA O BLOCO RAIZ"
                (click)="scrollToRoot()" mat-fab [ngClass]="{'goToRootIconDisabled' : blockSelected || !post.map[0]}"
                [disabled]="blockSelected || !post.map[0]">
                <mat-icon>control_camera</mat-icon>
            </button>
        </div>
    </drag-scroll>
</div>