.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: "sidebar gap canvas";
    grid-template-columns: auto 10px auto;
    position: relative;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sideBar {
    grid-area: sidebar;
    background-color: #316b83;
    position: relative;
    overflow: hidden;

    max-width: 75px;
    min-width: 50px;
    width: 3vw;

    .containerSideBar {
        position: absolute;
        text-align: center;

        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .sidebarGrid {
            flex: 1;
            margin: 0.5em;
            align-self: center;
            height: fit-content;
        }

        .option {
            max-height: 40px;
        }

        .title {
            margin: 5px;
            width: stretch;
        }

        .bottom {
            position: relative;
            text-align: center;

            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            min-height: 100%;
            justify-content: flex-end;

            .sidebarEndOption {
                flex: 1;
                margin: 0.5em;
                align-self: center;
                max-height: 40px;
            }
        }
    }

    button {
        background-color: white;
        color: #316b83;
    }

    .disabled {
        background-color: rgb(206, 206, 206);
        color: #7e7e7e;
    }
}

.containerCanvas {
    grid-area: canvas;
    position: relative;
    zoom: 100%;

    .canvas {
        $backgroundColor: #ffffff;
        $gridColor: #e4e4e4;

        background-color: $backgroundColor;
        position: relative;
        background-image: repeating-linear-gradient(to bottom, transparent, transparent 5.9em, $gridColor 5.9em, $gridColor 6em),
            repeating-linear-gradient(to right, $backgroundColor, $backgroundColor 5.9em, $gridColor 5.9em, $gridColor 6em);

        .bottomIcons {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 20;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            .icon{
                width: 75px;
                height: 75px;
                align-content: center;
                align-items: center;
                justify-content: center;
                display: flex;
            }


            .goToRootIcon {
                background-color: transparent;
                color: #316b83;
                mat-icon {
                    transform: scale(1.5);
                }
            }

            .goToRootIconDisabled {
                background-color: transparent;
                color: #7e7e7e;
            }

            .formatingBrush {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: solid 1px black;
                background-color: #44788f;
                transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
                z-index: 70;
                align-content: center;
                align-items: center;
                justify-content: center;
                display: flex;
                p{
                    position: absolute;
                    margin: 0 auto;
                }

                button {
                    scale: (0.5);
                    position: relative;
                    border: solid 1px black;
                    left: 15px;
                    top: 15px;
                }
            }
        }


    }
}

::ng-deep .tooltip {
    background: #316a83b3;
}