.main {
    position: absolute;
    background-color: #272736;
    width: 100%;
    max-height: 100vh;

    .container {
        position: relative;
        height: 92vh;
        padding: 4vh;
    }

    .toolbar {
        position: relative;
        min-height: fit-content;
        color: aliceblue;
        min-height: 10vh;

        .logo {
            height: 4em;
        }
    }

    .content {
        height: 82vh;
    }
}