<div class="create">
    <div class="leftSide">
        <div class="inner_block">

            <div class="square">
                <div class="deco">
                    SEJA BEM VINDO(A) AO HUBMAP!
                    <div class="dc1"></div>
                </div>
                <button class="btn">CRIE UM MAPA MENTAL</button>
            </div>
        </div>
    </div>
    <div class="block1">
        <div class="inner_block">
            <div class="square">
                Crie e compartilhe mapas mentais.
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="inner_block">
            <div class="square">
                Contamos com mais de 5000 diagramas.

            </div>
        </div>
    </div>
    <div class="block3">
        <div class="inner_block">
            <div class="square">
                Dê um visual a suas ideias.
            </div>
        </div>
    </div>
    <div class="block4">
        <div class="inner_block">
            <div class="square">
                Fácil e prático.
            </div>
        </div>
    </div>
</div>
<div class="search">
    <div class="searchBlock">
        <div class="searchBar">
            <input type="search" placeholder="Pesquisar mapas...">
        </div>
    </div>
</div>