.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: "sidenav gap canvas";
    grid-template-columns: 5em 0.5em auto;
    position: relative;
}

.sideBar {
    grid-area: sidenav;
    background-color: #316b83;

    .container {
        position: relative;
        text-align: center;
        padding: 0.5em;

        .sidebarOption {
            margin: 0.5em;
        }
    }

    button {
        background-color: white;
        color: #316b83;
    }
}

.outro{
    min-width: 93vw;
    min-height: 93vh;
    overflow: scroll;
    position: relative;
}
.canvas {
    grid-area: canvas;
    background-color: #ffffff;
    width: 3000px;
    height: 2000px;

    background-image: repeating-linear-gradient(to bottom, transparent, transparent 5.9em, #e4e4e4 5.9em, #e4e4e4 6em),
        repeating-linear-gradient(to right, #ffffff, #ffffff 5.9em, #e4e4e4 5.9em, #e4e4e4 6em);
}