.main {
    min-width: 100%;
    height: 96vh;
    max-height: 96vh;
    display: grid;
    grid-template: "sidenav gap canvas";
    grid-template-columns: 5em 0.5em auto;
}

.sideBar{
    grid-area: sidenav;
    background-color: #ccc;

    .container{
        position: relative;
        text-align: center;
        padding: 0.5em;

        button{
            margin: 0.5em;
        }
    }
}
.canvas {
    grid-area: canvas;
    background-color: rgb(240, 255, 241);
    width: 100%;
    min-height: 100%;

    .block {
        height: fit-content;
        width: fit-content;
        padding: 5px;
        width: fit-content;
        height: fit-content;
        border: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 4px;
        position: absolute;
        z-index: 1;
        border: 0;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12);

        :active {
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
        }

        .handle {
            position: absolute;
            top: 1px;
            right: 1px;
            color: #ccc;
            cursor: move;
            width: 24px;
            height: 24px;
        }

        textarea {
            min-height: 53px;
            min-width: 93px;
            padding-right: 24px;
            text-align: center;
            justify-content: center;
            background: transparent;
            border: none;
            outline: none;
            text-align: center;
            overflow: hidden;
        }
    }
}