.main {
    min-width: 100%;
    height: 96vh;
    max-height: 96vh;
    display: grid;
    grid-template: "sidenav gap canvas";
    grid-template-columns: 5em 0.5em auto;
}

.sideBar {
    grid-area: sidenav;
    background-color: #316b83;

    .container {
        position: relative;
        text-align: center;
        padding: 0.5em;

        .sidebarOption {
            margin: 0.5em;
        }
    }

    button {
        background-color: white;
        color: #316b83;
    }
}

.canvas {
    grid-area: canvas;
    background-color: #ffffff;
    width: 100%;
    min-height: 100%;
}