<div class="main">
    <div class="sideBar">
        <div class="container">
            <button class="sidebarOption" matTooltipClass="tooltip" matTooltip="Adicionar Bloco" (click)="addNewBlock()"
                mat-mini-fab>
                <mat-icon>add_circle</mat-icon>
            </button>
            <button class="sidebarOption" matTooltipClass="tooltip" matTooltip="Deletar Bloco"
                (click)="deleteBlock(this.map.blocks)" mat-mini-fab>
                <mat-icon>delete</mat-icon>
            </button>
            <button class="sidebarOption" matTooltipClass="tooltip" matTooltip="Salvar" (click)="save()" mat-mini-fab>
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>
    <div class="outro">
        <div class="canvas">
            <block (selectBlockEvent)="selectBlock($event)" *ngFor="let block of map.blocks" [block]="block"></block>
        </div>
    </div>
</div>