.input {
    width: 100%;
}

.descTextarea {
    resize: none;
}

.pubToggle {
    float: right;
}

mat-icon {
    font-size: 18px;
    color: #316b83;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
}

.warnign {
    color: red;
}

.link {
    color: inherit;
    float: left;
    color: #236099;
}

.link:hover {
    color: #77aada;
}