.input {
    width: 100%;
}

.descTextarea {
    resize: none;
}

.pubToggle {
    float: right;
}

mat-icon {
    font-size: 18px;
    color: #316b83;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
}