<div class="main">
    <!-- Estilo de Texto -->
    <button class="matEditGridItem" mat-icon-button matTooltipClass="tooltip" matTooltip="Negrito"
        (click)="style('bold', $event)">
        <mat-icon>format_bold</mat-icon>
    </button>
    <button class="matEditGridItem" mat-icon-button matTooltipClass="tooltip" matTooltip="Itálico"
        (click)="style('italic', $event)">
        <mat-icon>format_italic</mat-icon>
    </button>
    <button class="matEditGridItem" mat-icon-button matTooltipClass="tooltip" matTooltip="Sublinhado"
        (click)="style('underline', $event)">
        <mat-icon>format_underlined</mat-icon>
    </button>
    <!-- Fim Estilo de Texto -->


    <!-- Alinhamento -->
    <button class="matEditGridItem" mat-icon-button matTooltipClass="tooltip" matTooltip="Alinhar a Esquerda"
        (click)="style('alignLeft', $event)">
        <mat-icon> format_align_left</mat-icon>
    </button>
    <button class="matEditGridItem" mat-icon-button matTooltipClass="tooltip" matTooltip="Alinhar no Centro"
        (click)="style('alignCenter', $event)">
        <mat-icon> format_align_center</mat-icon>
    </button>
    <button class="matEditGridItem" mat-icon-button matTooltipClass="tooltip" matTooltip="Alinhar a Direita"
        (click)="style('alignRight', $event)">
        <mat-icon> format_align_right</mat-icon>
    </button>
    <button class="matEditGridItem" mat-icon-button matTooltipClass="tooltip" matTooltip="Justificar"
        (click)="style('justify', $event)">
        <mat-icon> format_align_justify</mat-icon>
    </button>
    <!-- Fim Alinhamento -->


    <!-- Tamanho da Fonte -->
    <button class="matEditGridItem" #triggerSize="matMenuTrigger" matTooltipClass="tooltip"
        matTooltip="Tamanho da Fonte" [matMenuTriggerFor]="fontsizeMenu" mat-icon-button>
        <mat-icon> format_size</mat-icon>
        <small>{{block.fontSize}}</small>
    </button>
    <!-- Fim Tamanho da Fonte -->

    <!-- Tipo de Borda -->
    <button class="matEditGridItem" #triggerRadius="matMenuTrigger" matTooltipClass="tooltip"
        matTooltip="Circunferência da Borda" [matMenuTriggerFor]="borderRadiusMenu" mat-icon-button>
        <mat-icon>rounded_corner</mat-icon>
    </button>
    <!-- Fim Tipo de Borda -->

    <!-- Cores -->
    <button class="matEditGridItem" #triggerFont="matMenuTrigger" matTooltipClass="tooltip" matTooltip="Cor do Texto"
        [matMenuTriggerFor]="colorMenuText" mat-icon-button>
        <mat-icon> format_color_text</mat-icon>
        <div class="colorShowcase" [style.background-color]="block.fontColor"></div>
    </button>
    <button class="matEditGridItem" #triggerBckg="matMenuTrigger" matTooltipClass="tooltip" matTooltip="Cor do Bloco"
        [matMenuTriggerFor]="colorMenuBackground" mat-icon-button>
        <mat-icon> format_color_fill</mat-icon>
        <div class="colorShowcase" [style.background-color]="block.backgroundColor"></div>
    </button>
    <!-- Fim Cores -->
</div>


<!-- Angular Material Menus -->
<mat-menu hasBackdrop="false" #fontsizeMenu="matMenu">
    <div class="fontSizeMenu" (click)="$event.stopPropagation()" (mouseleave)="closeMenu('fontSize')">
        <div class="fontSizeMenuItem" *ngFor="let fontSize of fontSizes" (click)="block.fontSize = fontSize.value"
            (click)="styleAndSave()">
            {{fontSize.value}}
        </div>
    </div>
</mat-menu>

<mat-menu hasBackdrop="false" #borderRadiusMenu="matMenu">
    <div class="borderRadius" (click)="$event.stopPropagation()" (mouseleave)="closeMenu('borderRadius')">
        <mat-slider class="slider" (input)="block.borderRadiusPerc = radiusValue.value" #radiusValue thumbLabel="false" [tickInterval]="0"
            [value]="this.block.borderRadiusPerc" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1"
            min="0" max="50">
        </mat-slider>
    </div>
</mat-menu>

<mat-menu hasBackdrop="false" #colorMenuText="matMenu">
    <div class="colorGrid" (click)="$event.stopPropagation()" (mouseleave)="closeMenu('fontColor')">
        <div class="colorSelector" (click)="block.fontColor = color.hexValue" (click)="styleAndSave()"
            *ngFor="let color of colors" [style.background-color]="color.hexValue">
        </div>
    </div>
</mat-menu>
<mat-menu hasBackdrop="false" #colorMenuBackground="matMenu">
    <div class="colorGrid" (click)="$event.stopPropagation()" (mouseleave)="closeMenu('bckgColor')">
        <div class="colorSelector" (click)="block.backgroundColor = color.hexValue" (click)="styleAndSave()"
            *ngFor="let color of colors" [style.background-color]="color.hexValue">
        </div>
    </div>
</mat-menu>
<!-- Angular Material Menus Fim -->