<loading *ngIf="carregando"></loading>
<div class="container">
    <div class="editAccount layoutDefaultStyle">
        <div class="deco">
            Detalhes
        </div>
        <div class="details">
            <h2>{{post.title}}</h2>
        </div>

        <button class="btnEdit" (click)="goToEdit()">Editar</button>

    </div>

    <div class="userMaps layoutDefaultStyle">
        <div class="deco">
            Mapas Mental
        </div>
        <br><br>
        <div class="mapContainer">
            <display-canvas *ngIf="result" [showOptions]="false" [size]="mapSize" [post]="post">
            </display-canvas>
        </div>
    </div>
</div>