<div class="main layoutDefaulStyle">
    <div class="container">
        <div class="toolbar">
            <div class="toolbar_title"> <a href="">HubMap</a></div>
            <div class="toolbar_user">
                <button class="btn" routerLink="session/signin">Login</button>
                <button class="btn btn2" routerLink="session/create-account">Criar Conta</button>
            </div>
        </div>
        <router-outlet></router-outlet>

    </div>
    <div class="footer">
        <div class="ft ft_left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sem lacus. Duis sed molestie turpis.
        </div>
        <div class="ft ft_middle">
            Aliquam semper tempus nisi consectetur cursus. Praesent vestibulum auctor neque eget eleifend. Aenean
            tempor
            dignissim ligula non viverra.
        </div>
        <div class="ft ft_right">
            Etiam ultricies fringilla metus vitae feugiat. Nunc et rutrum odio. Nulla iaculis sapien at maximus
            tristique. Nunc semper tellus lobortis, porttitor leo et, blandit dolor. Sed a lorem in dolor cursus
            auctor.
        </div>
    </div>
</div>