.main {
    position: absolute;
    background-color: #272736;
    color: aliceblue;
    width: 100%;

    .container {
        position: relative;
        min-height: 92vh;
        padding: 4vh;
    }
}

.toolbar {
    position: relative;
    min-height: 10vh;

    // display: grid;
    // grid-template-areas:
    //     'grid1 grid2 grid3 grid4 grid5';
    // grid-template-columns: min-content min-content auto auto 30%;

    display: flex;
    flex-wrap: wrap;
    flex: min-content min-content stretch;


    .logo {
        height: 4em;
    }

    .toolbar_search {
        grid-area: grid2;

        .searchMap {
            display: flex;
            justify-content: center;
            font-size: large;
            text-decoration: none;
            padding: 20px;

            .mat-icon {
                height: fit-content;
                font-size: larger;
                padding: 0 5px;
            }
        }
    }

    .toolbar_user {
        grid-area: grid5;
        flex: 1;
        text-align: right;
        padding: 10px 0;
    }

    .link {
        color: inherit;
        color: #236099;
    }

    .link:hover {
        color: #77aada;
    }

    .userNotLoggedOptions {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .userLoggedOptions {
        position: relative;
        display: grid;
        grid-template-areas:
            'grid1 grid2';
        grid-template-columns: 90% 10%;
        width: 100%;
    }

    .grid1 {
        grid-area: grid1;
        overflow: hidden;
        max-width: 50vw;
    }

    .grid2 {
        grid-area: grid2;
        position: relative;
    }

    .disabled {
        color: #77aada;
        cursor: default;
        pointer-events: none;
    }

    .active {
        color: inherit;
    }

    .active:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.content {
    min-height: 82vh;
}

::ng-deep .userMenu {
    background-color: #272736;

    ::ng-deep .mat-icon {
        color: #77aada
    }

    span {
        color: #ffffff;
    }
}

.footer {
    background-color: #1b1b20;
    position: relative;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    h3,
    h4 {
        mat-icon {
            height: fit-content;
            font-size: medium;
            vertical-align: middle;
        }
    }

    h4 {
        font-weight: 100;
        text-align: justify;
    }

    .ft {
        display: flex;
        flex-direction: column;
        width: 33%;
        min-width: 300px;
        flex: 1;

        .logo {
            height: 75px;
        }

        .pd {
            display: flex;
            flex-direction: column;
            padding: 50px;
            width: stretch;
            height: stretch;
        }
    }

    .ft_left {
        text-align: left;
        grid-area: left;
    }

    .ft_middle {
        text-align: center;
        grid-area: middle;
        display: grid;

        .logo {
            height: 2em;
        }

    }

    .ft_right {
        text-align: right;
        grid-area: right;
    }
}