<div class="main">
    <div class="container">
        <div class="toolbar">
            <div class="toolbar_title layoutDefaultStyle"> <a href="">HubMap</a></div>
            <div class="toolbar_search">
                <a href="search" class="searchMap"
                    [ngClass]="{'disabled' : router.url == '/search', 'active' : router.url != '/search'}">
                    BUSCAR MAPAS <mat-icon>search</mat-icon>
                </a>
            </div>
            <div class="toolbar_user">
                <div class="layoutDefaultStyle" #userNotLogged *ngIf="!user">
                    <button (click)="goToLogin()">Login</button>
                    <button (click)="goToCreateAccount()" class="btn-light">Criar Conta</button>
                </div>
                <div #userLogged class="userLoggedOptions" *ngIf="user">
                    <div class="grid1">
                        <h2> Bem vindo(a) {{user.nick}}</h2>
                    </div>
                    <div class="grid2">
                        <button mat-icon-button [matMenuTriggerFor]="userMenu">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>

    <div class="footer layoutDefaultStyle">
        <div class="ft ft_left">
            <div>
                <h3>SOBRE</h3>
                <h4>
                    HubMap é um sistema para criação e compartilhamento de mapas mentais desenvolvido como projeto de
                    conclusão de curso apresentado à Pontifícia Universidade Católica de Minas Gerais.
                </h4>
            </div>
            <a href="http://www.pucminas.br"><img class="logo" src="/assets/img/puc_minas_logo.png" alt=""></a>
        </div>
        <div class="ft ft_middle">
            <div>
                <h3>HUBMAP</h3>
                <h3>2022</h3>
            </div>
        </div>
        <div class="ft ft_right">
            <div>
                <h3>
                    E-MAIL DE CONTATO <mat-icon> business</mat-icon>
                </h3>
                <h4> carloseduardosesilva@gmail.com</h4>
                <hr>
            </div>
            <div class="pushBottom">
                <h3> IDIOMAS <mat-icon>language</mat-icon>
                </h3>
                <h4> Português</h4>
                <br>
            </div>
        </div>
    </div>
</div>

<mat-menu class="userMenu" #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="configUser()">
        <mat-icon class="mat-icon">settings</mat-icon>
        <span>Conta</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon class="mat-icon">exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>