<div class="main">
    <div class="container">
        <div class="toolbar">
            <div class="toolbar_title layoutDefaultStyle"> <a href="">HubMap</a></div>
            <div class="toolbar_search">
                <a href="search" class="searchMap"
                    [ngClass]="{'disabled' : router.url == '/search', 'active' : router.url != '/search'}">
                    Buscar Mapas <mat-icon>search</mat-icon>
                </a>
            </div>
            <div class="toolbar_user">
                <div class="layoutDefaultStyle" #userNotLogged *ngIf="!user">
                    <button routerLink="session/signin">Login</button>
                    <button class="btn-light" routerLink="session/create-account">Criar Conta</button>
                </div>
                <div #userLogged class="userLoggedOptions" *ngIf="user">
                    <div class="grid1">
                        <h2> Bem vindo(a) {{user.nick}}</h2>
                    </div>
                    <div class="grid2">
                        <button mat-icon-button [matMenuTriggerFor]="userMenu">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <div class="ft ft_left">
            <h3> IDIOMAS <mat-icon>language</mat-icon>
            </h3>
            <h4> Português</h4>
        </div>
        <div class="ft ft_middle">
            <h3>HUBMAP</h3>
            <h3>2022</h3>
        </div>
        <div class="ft ft_right">
            <h3>
                <mat-icon> business</mat-icon> E-MAIL DE CONTATO
            </h3>
            <h4> carloseduardosesilva@gmail.com</h4>
        </div>
    </div>
</div>

<mat-menu class="userMenu" #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="configUser()">
        <mat-icon class="mat-icon">settings</mat-icon>
        <span>Conta</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon class="mat-icon">exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>