<div class=" container" (mouseenter)="optionsStyle=['hover']" (mouseleave)="optionsStyle=[]"
    [style.max-width]="size + 15 + 'px'" [style.max-height]="size+ 15 + 'px'">

    <div class="canvas" #canvas [style.width]="size + 'px'" [style.height]="size + 'px'">
        <display-block (setDragEvent)="setDrag($event)" (selectBlockEvent)="selectBlock($event)"
            (unselectBlockEvent)="unselectBlock()" (saveProgressEvent)="saveProgress()"
            *ngFor="let block of visualPost.blocks" [block]="block">
        </display-block>
    </div>

    <div class="options" [style.width]="size + 'px'" [style.height]="size / 2 + 'px'" [ngClass]="optionsStyle">
        <div class="title-deco">
            <h2>{{post.title}}</h2>
        </div>
        <h4>{{post.description}}</h4>
        <div>
            <div class="opt">
                <div>
                    <button class="btnEditar">Editar</button>
                </div>
                <div class="opt">
                    {{post.likes}}
                    <mat-icon>thumb_up</mat-icon>
      
                    {{post.views}}
                    <mat-icon>visibility</mat-icon>
                </div>
            </div>
        </div>

    </div>
</div>