<div (click)="goToDetails()" [ngClass]="optionsClass" class="container" (mouseenter)="optionsStyle=['hover']"
    (mouseleave)="optionsStyle=[]" *ngIf="result" [style.max-width]="mapSize + 15 + 'px'"
    [style.max-height]="mapSize + 15 + 'px'">

    <div class="canvas" #canvas [style.width]="mapSize + 'px'" [style.height]="mapSize + 'px'">

        <div class="zoomIcon" *ngIf="zoomSize > 0">
            <a *ngIf="!zoomed" (click)="zoom(true)">
                <mat-icon>zoom_in</mat-icon>
            </a>
            <a *ngIf="zoomed" (click)="zoom(false)">
                <mat-icon>zoom_outr</mat-icon>
            </a>
        </div>

        <display-block (setDragEvent)="setDrag($event)" (selectBlockEvent)="selectBlock($event)"
            (unselectBlockEvent)="unselectBlock()" (saveProgressEvent)="saveProgress()"
            *ngFor="let block of visualPost.map" [block]="block">
        </display-block>
    </div>

    <div class="options" *ngIf="showOptions" [style.width]="mapSize + 'px'" [style.height]="mapSize / 2 + 'px'"
        [ngClass]="optionsStyle">
        <div class="title-deco">
            <h2>{{visualPost.title}}</h2>
        </div>
        <h4>{{visualPost.description}}</h4>
        <div>
            <div class="opt">
                <div style="grid-area: grid1;">
                    <mat-icon>thumb_up</mat-icon>

                </div>
                <div style="grid-area: grid2;"> {{visualPost.likes}}

                </div>
                <div style="grid-area: grid4;">
                    <mat-icon>thumb_down</mat-icon>
                </div>
                <div style="grid-area: grid5;">
                    {{visualPost.dislikes}}

                </div>

                <div style="grid-area: grid7;">
                    <mat-icon>visibility</mat-icon>
                </div>
                <div style="grid-area: grid8;">
                    {{visualPost.views}}

                </div>
            </div>
        </div>
    </div>
</div>