.main {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
    color: rgba(0, 0, 0, 0.6);

    .tip {
        display: flex;
        align-items: center;
        align-content: center;
        vertical-align: middle;
        font-weight: 600;
        mat-icon {
            height: fit-content;
            scale: (0.6);
        }
    }
}