.main {
    position: absolute;
    background-color: #272736;
    color: aliceblue;

    .container {
        position: relative;
        margin: 3%;
    }
}

.toolbar {
    position: relative;
    margin: 2% 0 2% 0;
    display: grid;
    grid-template-areas:
        'grid1 grid2 grid3 grid4 grid5';

    .toolbar_title {
        grid-area: grid1;
        font-size: 5vh;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .toolbar_user {
        grid-area: grid5;
        text-align: right;  

        .btn{
            margin: 0 0 0 2vh;
        }

        .btn2{
           background-color: rgba(#6D8299, 0.8);
        }
        .btn:hover {
            transform: scale(1.05);
            animation-name: fill;
            animation-duration: 300ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        @keyframes fill {
            100% {
                background-color: #316B83;
            }
        }
    }
}

.footer {
    background-color: #1b1b20;
    position: relative;
    min-height: 30vh;
    display: grid;
    overflow: hidden;
    grid-template-areas:
        'left middle right';

    .ft {
        text-align: center;
        margin: 50px;
    }

    .ft_left {
        grid-area: left;
    }

    .ft_middle {
        grid-area: middle;
    }

    .ft_right {
        grid-area: right;
    }
}