.container {
    min-width: 100%;
    height: 100%;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: linear-gradient(rgba(#272736, 0.3), rgba(#272736, 0.3)), url("/assets/img/account_settings_bkg.jpg");
    background-size: cover;

    display: grid;
    grid-template-areas:
        'grid1 grid2';
    grid-template-columns: 35% 65%;
}

.deco {
    position: relative;
    font-size: 1.5em;
    font-weight: bolder;
    color: #77aada;
    float: left;
    height: 5%;
}

.editAccount {
    position: relative;
    padding: 2em;
    margin: 1em;
    grid-area: grid1;
    background-color: #272736;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .inputfield {
        width: 100%;
        text-align: left;

        mat-form-field {
            width: 100%;

            ::ng-deep input {
                color: #316B83;
                font-size: 2em;
            }

            .icon {
                color: #316B83;
            }
        }
    }


    .btn {
        font-size: x-large;
        padding: 1vh 3vh 1vh 3vh;
        background-color: rgba(#316B83, 0.8);
    }

    .btn:hover {
        transform: scale(1.05);
        animation-name: fill;
        animation-duration: 300ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes fill {
        100% {
            background-color: #316B83;
        }
    }

}

.userMaps {
    position: relative;
    padding: 2em;
    margin: 1em;
    grid-area: grid2;
    background-color: #272736;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;

    .resultContainer {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
}
