
.visualBlock {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    position: absolute;
    border: solid 2px;
  }
  