.main {
    position: absolute;
    background-color: #272736;
    color: aliceblue;
    width: 100%;
    
    .container {
        position: relative;
        min-height: 96vh;
        padding: 2vh;
    }
}