.main {
    position: absolute;
    background-color: #272736;
    color: aliceblue;
    min-width: 100vw;

    .container {
        position: relative;
        min-height: 96vh;
        padding: 2vh;

    }
}