.main {
    position: absolute;
    background-color: #272736;
    color: aliceblue;
    width: 100vw;
    height: 100vh;

    .container {
        position: relative;
        height: 96vh;
        width: 96vw;
        margin: 2vh 2vw 2vh 2vw;
    }
}