.textContainer {
  overflow: hidden;
  resize: both;
  min-height: 50px;
  min-width: 50px;

  position: relative;
}

.textPanel {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.textDiv {
  min-height: 50px;
  min-width: 50px;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
  text-align: center;
  justify-content: center;
  background: transparent;
  border: none;
  outline: none;
  line-height: 1em;
  white-space: pre-wrap;


  display: table-cell;
  vertical-align: middle;
  position: relative;
}