textarea {
    min-height: 53px;
    min-width: 93px;
    padding: 0;
    text-align: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    text-overflow: hidden;
    resize: none;
}